@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Test Sayfası</h1>


<table>
<tr>
    <th>ID</th>
    <th>Ad</th>
    <th>Departman</th>
</tr>

<tr>
    <td>1</td>
    <td>Yiğit</td>
    <td>Yazılım</td>
</tr>

<tr>
    <td>2</td>
    <td>Anıl</td>
    <td>Pazarlama</td>
</tr>

</table>