<div class="comment-top">
	<h4>Leave a Comment</h4>
	<div class="comment-bottom">
		<form action="/Comment/PartialAddComment/" method="post">
			<input class="form-control" type="text" name="CommentUserName" placeholder="Full Name" required="">

			<input class="form-control" type="text" name="CommentTitle" placeholder="Context" required="">

			<textarea class="form-control" name="CommentContent" placeholder="Your comment..." required=""></textarea>
			<button type="submit" class="btn btn-primary submit">Make a comment</button>
		</form>
	</div>
</div>